body {
  text-align: center;
  background-color: #4A668A;
  font-family: Josefin Sans;
}

p {
  font-size: 1.5em;
}

.orient-one {
  height:350px;
  width: 250px;
}

.homebutt{
  display: flex;
  justify-content: flex-end;
}

.home{
  background-color: black;
  color: white;
  border-radius: 15px;
  font-size: 20px;
}
