body {
  text-align: center;
  background-color: #7DB977;
  font-family: Josefin Sans;
}

p {
font-size: 1.5em;
}

.homebutt{
  display: flex;
  justify-content: flex-end;
}

.home{
  background-color: black;
  color: white;
  border-radius: 15px;
  font-size: 20px;
}
